/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body {
  padding: 5px;
  background: rgb(35,115,159);
}

.group:after {
  content: "";
  display: block;
	clear: both;
}

.board-list > li {
  display: block;
  float: left;
}



.list-list {
  margin: 5px;
  background: #e3e3e3;
  width: 260px;
  position: relative;
  padding: 4px 3px 3px;

}

.card-list {
  position: relative;
  padding: 6px 8px 4px;
  z-index: 10;
}

.rounded-boarder {
  border-radius: 3px;
}

ul {
  list-style: none;
}

label {
  color: black;
}

.card-list {
//  display: inline-block;
  background: white;
}



h3 {
  color: white;
}



//#########displaynone############
form.create-card {
  display: none;
}

.delete {
  display: none;
}