<form class="toggle-form-hide form-create create-card group">

  <input type="hidden" name="card[list_id]" value="<%= list.attributes.id %>">
  <input type="hidden" name="card[title]" id="title-card">

  <textarea name="card[description]" class="description-card"></textarea>

  <button class="submit-card">Add</button>

</form>